@import "~normalize.css/normalize.css";

@import "./styles/variables.scss";

body {
  font-family: $regular-font;
}

.layout {
  display: flex;
}

.coiny {
  font-family: $coiny-font;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 10px;
  }
}