@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.button {
  border-radius: 0.5rem;
  border: 0;
  font-size: 1.1rem;
  color: $atomic-tangerine;
  background-color: $white;
  padding: 0.6rem 0.5rem;
  padding-top: 0.8rem;
  margin-top: 1.5rem;
  min-width: 7rem;
}

.button:hover {
  @include button-active;
  transition: ease-in-out 100ms;

  color: $white;
  background-color: $atomic-tangerine;
}

.button--orangy {
  color: $white;
  background-color: $atomic-tangerine;
  border-color: $atomic-tangerine;
  border: 2px solid;
}

.button--orangy:hover {
  color: $atomic-tangerine;
  background-color: $white;
  border-color: $atomic-tangerine;
  border: 2px solid;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}
