@import "../../styles/variables.scss";

h1 {
    font-family: $coiny-font;
    color: $atomic-tangerine;
}

h4 {
font-family: $coiny-font;
}

p {
    font-family: $regular-font;
}
    
.tier-wrapper {
    border-bottom: 1px solid $jet;
}


.details-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-gap: 39px;
    color: $jet;
}

.c-order-confirmation__label {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

}

.c-order-confirmation h1, 
.button-container{
    display: flex;
    justify-content: center;
}

.c-order-confirmation button {
    display: flex;
    justify-content: center;
}

.c-order-confirmation__grid {
    display: flex;
    justify-content: space-around;
    text-align: left;
    // flex-direction: column;
}

// .c-order-confirmation__value {
//     // text-align: right;
// }

.button--orangy {
    color: $white;
    background-color: $atomic-tangerine;
    border-color: $atomic-tangerine;
    border: 2px solid;
}

.button--orangy:hover {
    color: $atomic-tangerine;
    background-color: $white;
    border-color: $atomic-tangerine;
    border: 2px solid;
}