@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
}

.logo {
  font-size: 1.2rem;
  color: $imperial-red;
}

.login-register {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.1rem;
  
  a:-webkit-any-link {
    text-decoration: none;
    @include button-active;
  }
}

.inactive {
  color: rgba(244, 81, 86, 0.5);
}

.active {
  color: $imperial-red;
}

.intro {
  font-size: 1rem;
  color: $robin-egg-blue;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 99;
}

.dropdown-hover {
  display: inline-block;
  cursor: pointer;
  color: $imperial-red;
}

.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;

  button {
    font-family: $regular-font;
    border: 0;
    border-radius: 0.5rem;
    color: $imperial-red;
    font-size: 1rem;
    background-color: transparent;
    padding: 0.5rem;
    width: 6.5rem;
    @include button-active;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu button:hover {
  background-color: rgb(240, 239, 239);
}
