@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.subscription {
  // copy pasta from account.scss
  padding: 3em;
  font-size: 1.9rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2.5rem;
}

.subs-info {
  font-size: 1.5rem;
}

.tier {
  display: inline;
  font-weight: 900;
}

.swal2-styled {
  font-family: "Coiny", cursive;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: rgba(255, 138, 40, 1);
  color: #fff;
  font-size: 1em;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px rgba(255, 138, 40, .5);
}

.swal2-styled.swal2-cancel {
  border: 2px solid;
  border-radius: 0.25em;
  border-color: rgba(255, 138, 40, 1);
  background: initial;
  background-color: #fff;
  color: rgba(255, 138, 40, 1);
  font-size: 1em;
}

// For adding shadow to the border to cancel button
.swal2-styled.swal2-cancel:focus {
  box-shadow: 0 0 0 3px rgba(255, 138, 40, .5);
}
