@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.account-layout {

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    .fade-in-div {
      animation-name: fadeIn;
      animation-duration: 1s;
    }
}

.subscription {
  // copy pasta from account.scss
  padding: 3em;
  font-size: 1.9rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2.5rem;
}

.subs-info {
  font-size: 1.5rem;
  font-weight: 400;
}

.tier {
  display: inline;
  font-weight: 900;
}

.swal2-styled {
  font-family: "Coiny", cursive;
}

.swal2-image {
    border-radius: 50px;
}

.swal2-styled.swal2-confirm {
    border: 2px solid;
    border-radius: 0.25em;
    border-color: rgba(255, 138, 40, 1);
    background: initial;
    background-color: #fff !important;
    color: rgba(255, 138, 40, 1);
    font-size: 1em;
    background-image: none;
}

.swal2-styled.swal2-confirm:hover {
  box-shadow: 0 0 0 3px rgba(255, 138, 40, .5);
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(255 138 40 / 50%);
}

.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: rgba(255, 138, 40, 1);
    color: #fff;
    font-size: 1em;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%));
}

.swal2-styled.swal2-default-outline:focus {
    box-shadow: 0 0 0 3px rgb(255 138 40 / 50%);}

// For adding shadow to the border to cancel button
.swal2-styled.swal2-cancel:hover {
  box-shadow: 0 0 0 3px rgba(255, 138, 40, .5);
}
